body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 231, 242);
}
h2{
  text-align: center;
  color: #035FD4;
}
.signup-card{
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 1px 2px 10px;
  gap: 5px;
}
input{
  padding: 8px;
  border: 1px solid black;
  border-radius: 7px;
}
.btn{
  display: flex;
  justify-content: center;
}
#message{
  text-align: center;
}
button{
  text-align: center;
  padding: 10px 30px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #035FD4;
  border-radius: 8px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  margin-top: 15px;
}
p{
  font-size: small;
  margin: 5px 5px;
}